spring:
  application:
    name: service-auth
  
  profiles:
    active: local


server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info
app:
  jwt:
    public-key: ${JWT_PUBLIC_KEY}
    private-key: ${JWT_PRIVATE_KEY}
    issuer: ${JWT_ISSUER}
    access-expire-seconds: ${JWT_ACCESS_SECONDS}
    refresh-expire-seconds: ${JWT_REFRESH_SECONDS}