spring:
  application:
    name: service-user
  
  profiles:
    active: local

  flyway:
    locations: classpath:database/migration

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info
