spring:
  application:
    name: service-club

  profiles:
    active: local

  main:
    web-application-type: servlet

management:
  endpoints:
    web:
      exposure:
        include: health,info
